/*
* large screen fixing
*/

@media(min-width: 1921px) {
    .site-header.header-one {
        background: #002C42;
    }
    .site-header.header-one .header-navigation,
    .site-header.header-one .top-bar {
        max-width: 1920px;
        margin: auto;
    }
    .site-header.header-one .container-fluid {
        background: #fff;
    }
}

/*
* expandable menu started
*/

@media (max-width: 1199px) {
    .header-navigation {
        margin-bottom: 0;
    }
    .logo-box {
        float: none;
        margin: 0 !important;
    }
    .navigation-box {
        margin: 0;
    }
    .navbar-expand-lg .menu-toggler {
        display: block;
        margin-right: 0;
        border-color: #fff;
        background-color: transparent !important;
        margin: 10px 0;
        color: #fff;
        border: none;
        font-size: 28px;
        float: right;
        outline: none;
        cursor: pointer;
    }
    .menu-toggler:hover {
        border-color: #00AD4D;
    }
    .menu-toggler .icon-bar {
        background: #fff;
    }
    .menu-toggler:hover .icon-bar {
        background: #00AD4D;
    }
    .navbar-expand-lg .navbar-collapse {
        padding-bottom: 0;
        overflow: auto !important;
        width: 100%;
    }
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
        background: transparent;
        padding: 0px 0px !important;
        padding-bottom: 0px !important;
        margin: 0;
        background: #d4d4d4;
        transition: all .5s ease;
        height: 0;
    }
    .navbar-expand-lg .navbar-collapse.showen {
        display: block !important;
        height: auto;
        max-height: 70vh;
    }
    .navbar-collapse.show {
        overflow-y: auto;
    }
    .header-navigation .nav {
        width: 100%;
        text-align: left;
    }
    .header-navigation .nav>li {
        display: block;
        padding: 0 !important;
        width: 100%;
        float: none;
    }
    .header-navigation .nav>li+li {
        margin-left: 0 !important;
    }
    .header-navigation .nav>li>a {
        padding: 8px 0;
    }
    .header-navigation .right-box.nav {
        width: 100%;
        margin: 0;
    }
    .header-navigation .right-box.nav>li>a {
        border: none !important;
        padding: 8px 0;
        color: #fff;
    }
    .header-navigation .nav>li>a:after {
        display: none;
    }
    .header-navigation .nav.navigation-box+.nav {
        border-top: 1px dashed #282828;
    }
    .header-navigation .navigation-box>li>.sub-menu,
    .header-navigation .navigation-box>li>.sub-menu>li>.sub-menu {
        position: relative !important;
        width: 100% !important;
        opacity: 1 !important;
        visibility: visible !important;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        transition: none !important;
        display: none;
        float: none !important;
        margin: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .header-navigation .navigation-box>li>.sub-menu>li>a::after {
        display: none;
    }
    .header-navigation ul.navigation-box>li+li {
        padding: 0 !important;
        border-top: 1px solid rgba(236, 233, 233, 0.21);
        display: block;
        float: none;
    }
    .header-navigation .nav>li.show-mobile {
        display: none;
    }
    .header-navigation ul.navigation-box>li>a,
    .header-navigation .right-box.nav>li>a {
        padding: 0;
        display: block;
        color: #d4d4d4;
        padding: 12px 0 12px 20px !important;
        transition: background 0.4s ease 0s;
        text-transform: capitalize;
    }
    .header .stricky-fixed.header-navigation .nav>li {
        padding: 0 !important;
    }
    .header-navigation ul.navigation-box li a .sub-nav-toggler {
        background-color: transparent;
        background-image: none;
        border: 0;
        border-radius: 4px;
        padding: 9px 9px;
        position: absolute;
        top: 14px;
        right: 15px;
        /*margin-top: 8px;*/
        margin-right: 0px;
        display: block;
        cursor: pointer;
        outline: 0 !important;
    }
    .sub-menu .sub-nav-toggler {
        display: none !important;
    }
    .header-navigation .navigation-box .sub-nav-toggler .icon-bar {
        background-color: #d4d4d4;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 10px;
    }
    .header-navigation .navigation-box .sub-nav-toggler .icon-bar+.icon-bar {
        margin-top: -2px;
        transform: rotate(90deg);
    }
    .header-navigation .container .right-side-box {
        top: 10px;
        right: 15px;
        transform: translateY(0%)
    }
    .header-navigation .container {
        display: block;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
    }
    .header-navigation .container .logo-box {
        position: absolute;
        top: 15px;
        left: 15px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        float: none;
        padding-right: 145px;
    }
    .header-navigation .container .logo-box .navbar-brand {
        float: left;
        padding: 20px 0;
    }
    .header-navigation .container .logo-box .navbar-toggler {
        float: left;
    }
    .header-navigation ul.navigation-box {
        display: block;
        margin: 0 !important;
        width: 100%;
    }
    .header-navigation ul.navigation-box>li {
        padding: 0;
        display: block;
    }
    .header-navigation ul.navigation-box>li>a {
        display: block;
        padding: 13px 30px;
    }
    .header-navigation ul.navigation-box>li>a:after {
        display: none;
    }
    .header-navigation ul.navigation-box>li+li {
        margin: 0;
    }
    .header-navigation .main-navigation {
        float: none;
        width: 100%;
        display: none;
        text-align: left;
        background: #252525;
    }
    .header-navigation .container .menu-toggler {
        display: block;
    }
    .header-navigation.stricky-fixed ul.navigation-box>li {
        padding: 0;
    }
    .header-navigation .container .logo-box .navbar-brand {
        background-color: transparent;
    }
    .header-navigation .container .menu-toggler {
        float: left;
        color: #d4d4d4;
        margin-left: 30px;
    }
    .header-navigation .container .logo-box {
        padding-right: 0 !important;
    }
    .header-navigation {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .site-header.header-one .header-navigation .container .right-side-box .quote-btn {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .site-header.header-one .header-navigation .container {
        padding-left: 0;
    }
    .site-header.header-one .top-bar .left-content {
        width: 100%;
        text-align: center;
    }
    .site-header.header-two .header-navigation .container .menu-toggler {
        float: right;
        margin: 36px 0;
        color: #fff;
    }
    .site-header.header-two .header-navigation ul.navigation-box>li {
        padding: 0 !important;
    }
    .site-header.header-three .header-navigation .container .menu-toggler {
        float: right;
        margin: 36px 0;
    }
    .site-header.header-three .header-navigation .container .logo-box {
        padding-right: 200px !important;
    }
    .site-header.header-three .header-navigation .container .right-side-box {
        top: 28px;
    }
    .site-header.header-three .header-navigation .main-navigation {
        text-align: left;
    }
    .site-header.header-three .header-navigation ul.navigation-box>li {
        padding: 0;
    }
    .site-header.header-three .header-navigation ul.navigation-box>li+li {
        margin-left: 0;
    }
    .site-header.header-three .header-navigation.stricky-fixed ul.navigation-box>li {
        padding: 0;
    }
    .site-header.header-four .header-navigation .container .menu-toggler {
        margin-left: 0;
    }
    .site-header.header-four .header-navigation ul.navigation-box>li {
        padding: 0;
    }
    .site-header.header-four .header-navigation .main-navigation {
        text-align: left;
    }
    .site-header.header-four .header-navigation ul.navigation-box>li+li {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .site-header.header-one .header-navigation .container {
        max-width: calc(100% - 100px);
    }
    .site-header.header-one .top-bar .single-header-contact-info+.single-header-contact-info {
        padding-left: 15px;
        margin-left: 15px;
    }
}

@media(max-width: 767px) {
    .site-header.header-one .top-bar .right-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .site-header.header-one .top-bar .single-header-contact-info {
        width: 50%;
        float: left;
    }
    .site-header.header-one .top-bar .single-header-contact-info+.single-header-contact-info {
        margin-left: 0;
        padding-left: 0;
        border: none;
    }
    .site-header.header-one .header-navigation .container {
        max-width: 100%;
    }
}

@media(max-width: 991px) {
    .site-header.header-four .lower-bar .container .logo-box {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 100%;
        text-align: center;
        display: block;
    }
    .site-header.header-four .lower-bar .container [class*=float-] {
        width: 100%;
        text-align: center;
        display: none;
    }
    .site-header.header-four .lower-bar .single-header-contact-info+.single-header-contact-info {
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .site-header.header-four .lower-bar .left-content {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .site-header.header-four .lower-bar .right-content {
        margin-bottom: 30px;
        display: none;
    }
    .site-header.header-four .lower-bar .single-header-contact-info {
        display: block;
        padding: 0;
    }
    .site-header.header-four .lower-bar .single-header-contact-info+.single-header-contact-info {
        margin: 0;
        margin-top: 20px;
    }
}